header {
    border: 1px solid black;
    width: 75%;
    margin: 2% auto;
    text-align: center;
}

.buttons-container {
    border: 1px solid black;
    width: 25%;
    margin: 2% auto;
    height: fit-content;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

button {
    height: 50px;
    width: 100px;
    background-color: rgb(22, 22, 150);
    color: white;
    font-weight: bold;
}

main {
    border: 1px solid black;
    width: 35%;
    margin: 2% auto;
    height: fit-content;
}

img {
    display: block;
    margin: auto;
}

li {
    display: inline;
    list-style-type: none;
}