* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #57B8FF;
}

header {
    border: 10px solid white;
    width: 75%;
    margin: 2% auto;
    text-align: center;
    color: black;
    font-size: 28px;
    background-color: #fbb13c;
    border-radius: 20px;
}

.buttons-container {
    width: 25%;
    margin: 2% auto;
    height: fit-content;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

.buttons-container button, section button {
    height: 50px;
    width: 100px;
    background-color: rgb(22, 22, 150);
    color: white;
    font-weight: bold;
}

main {
    width: 35%;
    margin: 2% auto;
    height: fit-content;
    text-align: center;
}

p {
    font-size: 24px;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
}

li {
    display: inline;
    list-style-type: none;
}

ul {
    padding:0;
}

section {
    width: 50%;
    margin: 2% auto;
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
}

section button {
    margin: 0 10px;
}

section button:hover, section button:active {
    background-color: rgb(114, 20, 114);
}

form button {
    margin-top: 10px;
}