header {
    border: 1px solid black;
    width: 75%;
    margin: 2% auto;
    text-align: center;
}

.buttons-container {
    border: 1px solid black;
    width: 25%;
    margin: 2% auto;
    height: fit-content;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

button {
    height: 50px;
    width: 100px;
    background-color: rgb(22, 22, 150);
    color: white;
    font-weight: bold;
}

main {
    border: 1px solid black;
    width: 35%;
    margin: 2% auto;
    height: fit-content;
    text-align: center;
}

main p {
    font-size: 24px;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
}

li {
    display: inline;
    list-style-type: none;
}

ul {
    padding:0;
}

section {
    border: 1px solid black;
    width: 50%;
    margin: 2% auto;
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
}

section button {
    margin: 0 10px;
}

section button:hover, section button:active {
    background-color: rgb(114, 20, 114);
}